body {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 9dvh;
	background: #d3d3d3;
	background-image: url(../images/blinds-header.png);
	background-size: cover;
	background-repeat: round;
	color: #454545;
	padding: 10px 10px;
	z-index: 1000;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	max-width: 1200px;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 8dvh;
	margin-right: 10px;
	align-items: center;
}

.company-name {
	font-size: 4vw;
	color: #373434; /* Ensure it contrasts with the background */
	align-self: center;
}

.social-media {
	display: flex;
	gap: 25px;
}

.social-icon img {
	height: 30px;
	transition: transform 0.3s;
}

.social-icon img:hover {
	transform: scale(1.1);
}

.spacer {
	width: 100%;
	height: 12dvh;
}

.parallax-section {
	position: relative;
	height: 74dvh;
	background-image: url(../images/background.png);
}

.parallax-image {
	width: 100%;
	height: 74dvh;
	background-size: 74dvw 74dvh; /* Resize image to fit within the viewport */
	background-repeat: no-repeat; /* Prevent image tiling */
	background-attachment: fixed;
	background-position: center;
	margin-bottom: 15px; /* creates white rectangle for parallax */
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax-image {
		background-attachment: scroll;
		background-size: 96dvw 74dvh; /* Resize image to fit within the viewport */
	}
}

.thumbnail-section {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 12dvh;
	width: 100%;
	background: #f1f0f0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	z-index: 1000;
	overflow-x: scroll;
}

.thumbnail-section img {
	width: 7dvh;
	height: 7dvh;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	resize: both;
	transition: transform 0.3s;
}

.thumbnail-section img:hover {
	transform: scale(1.2);
}

.thumbnail-section img.active {
	border: 2px solid #b87b1f;
	border-radius: 5px;
	transform: scale(1.2);
}
